.body1 {
  font-family: Helvetica;
  background-color: lightBlue;
}

.body2 {
  font-family: Helvetica;
  background-color: #DEB887;
  color: black;
}

.back {
  font-size: 25px;
  color: #900;
}
